.popup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    height:10rem;
    width:25rem;
    top:50%;
    left:50%;
    background-color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 25px;
}

.title{
    height:3rem;
    width:20rem;
    font-size:3.2vh;
    font-weight:700;
    text-align: left;
}

.input_box{
    display:flex;
    align-items: center;
    margin:1vh 1vh 1vh 1vh;
    font-weight:600;
    height:3rem;
    width:20rem;
    font-size:3vh;
}

.input_box > input{
    border:2px solid grey;
    padding:0.6rem;
    font-size:2vh;
    font-weight:600;
    width:18vw;
    height:4vh;
}

.color_input{
    font-size:3vh;
    display:flex;
    justify-content: center;
    margin:2vh 1vh 1vh 1vh;
    align-items:center;
    font-weight:600;
}

.color_input_Color{
    display:flex;
    gap:1vw;
}

.color_input_color_1,
.color_input_color_2,
.color_input_color_3,
.color_input_color_4,
.color_input_color_5,
.color_input_color_6 {
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width:4vh;
    height:4vh;
}

.color_input_color_1{
    background-color: #B38BFA;
}

.color_input_color_2{
    background-color: #FF79F2;
}

.color_input_color_3{
    background-color: #43E6FC;
}

.color_input_color_4{
    background-color: #F19576;
}

.color_input_color_5{
    background-color: #0047FF;
}

.color_input_color_6{
    background-color: #6691FF;
}

.close{
    display:flex;
    justify-content:flex-end;
    margin: 1vh 1vh 1vh 1vh;
    height: 3rem;
    width:24rem;
}

.close > button{
    background-color: black;
    border: none;
    border-radius:4vh;
    color:white;
    height:6vh;
    width:9vw;
    font-weight:500;
    margin-top:1rem;
}

.highlight{
    border: 2px solid black;
    border-radius: 4vh;
}